{% extends 'ladder/base.html' %}

{% block nav-sidebar %}
<li class="active"><a href="/overview">Overview <span class="sr-only">(current)</span></a></li>
<li><a href="/simulation">Simulation</a></li>
{% endblock nav-sidebar %}


{% block content %}


<h1 class="page-header">Overview</h1>

<h2 class="sub-header">Apply game result</h2>


<div class="container-fluid">
  <form method='POST' action='.'> {% csrf_token %}
    <div class="row">
      <div class="col-sm-4">
          Win
          {{ form.user_name_0 }}
          {{ form.race_0 }}
          {{ form.is_random_0 }}
      </div>
      <div class="col-sm-4">
          Lose
          {{ form.user_name_1 }}
          {{ form.race_1 }}
          {{ form.is_random_1 }}
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col-sm-4">
          Win
          {{ form.user_name_2 }}
          {{ form.race_2 }}
          {{ form.is_random_2 }}
      </div>
      <div class="col-sm-4">
          Lose
          {{ form.user_name_3 }}
          {{ form.race_3 }}
          {{ form.is_random_3 }}
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col-sm-4">
          Win
          {{ form.user_name_4 }}
          {{ form.race_4 }}
          {{ form.is_random_4 }}
      </div>
      <div class="col-sm-4">
          Lose
          {{ form.user_name_5 }}
          {{ form.race_5 }}
          {{ form.is_random_5 }}
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col-sm-4">
          Win
          {{ form.user_name_6 }}
          {{ form.race_6 }}
          {{ form.is_random_6 }}
      </div>
      <div class="col-sm-4">
          Lose
          {{ form.user_name_7 }}
          {{ form.race_7 }}
          {{ form.is_random_7 }}
      </div>
    </div>
    </br>
    <input name="add_game_result" class='btn btn-primary' type='submit' value='Add game result' >
  </form>
</div>

</br>

<h2 class="sub-header">Ranking</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Ladder score</th>
        <th>Stats</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.rank }}</td>
          <td>{{ user.user_name }}</td>
          <td>{{ user.ladder_score }}</td>
          <td>{{ user.str_stats }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<h2 class="sub-header">Game result list</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Win</th>
        <th>Lose</th>
      </tr>
    </thead>
    <tbody>
      {% for result in game_results %}
        <tr>
          <td>{{ result.created }}</td>
          <td>{{ result.str_win }}</td>
          <td>{{ result.str_lose }}</td>
          <td><form><input type="button" onclick="showDeleteModal({{ result.pk }})" class="btn btn-lg btn-danger" value="Delete" style="width:50%"></form></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<!-- Modal -->
<div class="modal fade" id="smallModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete result</h4>
      </div>
      <div class="modal-body" style="padding:20px 20px;">
        <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" class="form-control" id="psw" placeholder="Enter password">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="deleteResult()" id="result_id" class="btn btn-default" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>



<script>
function showDeleteModal(pk)
{
  $('#result_id').val(pk);
  $('#smallModal').modal('show');
}

function deleteResult()
{
  password = {{ password }}

  result_id = document.getElementById("result_id").value;
  input_password = document.getElementById("psw").value;

  if (password != input_password) {
    alert("password is incorrect");
    return false;
  }

  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
  });

  $.ajax({
    type:"POST",
    url:"/overview/",
    data: {
            'method': 'delete_game_result',
            'pk': result_id
    },
    success: function (data) {
      if (data.is_taken) {
        alert(data.error_message);
      }
    }
  });
  return false;
}
</script>



{% endblock content %}